* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #252525;
  height: 100%;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
}

header nav {
  text-align: center;
  padding-top: 2%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #222;
}

header nav ul li {
  display: inline-block;
  margin-left: 16px;
  list-style: none;
}

header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #ebebeb;
  padding-left: 5px;
  padding-right: 5px;
}

.gallery-box img {
  width: 50%;
  margin-left: 25%;

}

.gallery-box p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #F2784B;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 115%;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 70px;
}


/*------footer------*/

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 60px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: #222;
  padding-top: 15px;
}

footer p {
  font-size: 16px;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
}

/*MEDIA!!!!!!!!!!!!*/

@media only screen and (max-width: 768px) {
    .gallery-box p {
      font-size: 16px;
    }
    .gallery-box img {
      width: 60%;
      margin-left: 20%;
    }
}
